<div id="carousel" class="slick-initialized slick-slider slick-dotted">
	<div class="slick-list draggable">
		<div class="slick-track"
			style="opacity: 1; width: 4342px; transform: translate3d(-1002px, 0px, 0px);">
			<div class="carousel-element slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 320px;" tabindex="-1">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon newspaper"></i>Newsletter</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/09/hibernate-community-newsletter-2018-09/"
							tabindex="-1">Hibernate Community Newsletter 09/2018</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide" data-slick-index="1" aria-hidden="true" style="width: 320px;" tabindex="-1" role="tabpanel" 
				id="slick-slide01" aria-describedby="slick-slide-control01">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon check"></i>Validator</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/15/hibernate-validator-6010-final-out/"
							tabindex="-1">Hibernate Validator 6.0.10.Final released</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 320px;" tabindex="0" role="tabpanel" 
				id="slick-slide02" aria-describedby="slick-slide-control02">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon database"></i>ORM</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/14/hibernate-orm-530-final-release/"
							tabindex="0">Hibernate ORM 5.3.0.Final release</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide" data-slick-index="3" aria-hidden="true" style="width: 320px;" tabindex="-1" role="tabpanel" 
				id="slick-slide03" aria-describedby="slick-slide-control03">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon database"></i>ORM</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/11/hibernate-orm-5114-final-release/"
							tabindex="-1">Hibernate ORM 5.1.14.Final released</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide" data-slick-index="4" aria-hidden="true" style="width: 320px;" tabindex="-1" role="tabpanel" 
				id="slick-slide04" aria-describedby="slick-slide-control04">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon search"></i>Search</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/09/hibernate-search-5-10-0-CR1/"
							tabindex="-1">Hibernate Search 5.10.0.CR1 is out!</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide" data-slick-index="0" aria-hidden="true" style="width: 320px;" tabindex="-1" role="tabpanel" 
				id="slick-slide00" aria-describedby="slick-slide-control00">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon search"></i>Search</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/17/hibernate-search-5-10-0-Final/"
							tabindex="-1">Hibernate Search 5.10.0.Final is out!</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide" data-slick-index="5" aria-hidden="true" style="width: 320px;" tabindex="-1" role="tabpanel" 
				id="slick-slide05" aria-describedby="slick-slide-control05">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon newspaper"></i>Newsletter</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/09/hibernate-community-newsletter-2018-09/"
							tabindex="-1">Hibernate Community Newsletter 09/2018</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 320px;" tabindex="-1">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon search"></i>Search</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/17/hibernate-search-5-10-0-Final/"
							tabindex="-1">Hibernate Search 5.10.0.Final is out!</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 320px;" tabindex="-1">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon check"></i>Validator</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/15/hibernate-validator-6010-final-out/"
							tabindex="-1">Hibernate Validator 6.0.10.Final released</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 320px;" tabindex="-1">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon database"></i>ORM</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/14/hibernate-orm-530-final-release/"
							tabindex="-1">Hibernate ORM 5.3.0.Final release</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 320px;" tabindex="-1">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon database"></i>ORM</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/11/hibernate-orm-5114-final-release/"
							tabindex="-1">Hibernate ORM 5.1.14.Final released</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 320px;" tabindex="-1">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon search"></i>Search</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/09/hibernate-search-5-10-0-CR1/"
							tabindex="-1">Hibernate Search 5.10.0.CR1 is out!</a>
					</h4>
				</div>
			</div>
			<div class="carousel-element slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 320px;" tabindex="-1">
				<div class="ui raised segment">
					<span class="ui brown right ribbon label"><i
						class="icon newspaper"></i>Newsletter</span>
					<h4>
						<a
							href="http://in.relation.to/2018/05/09/hibernate-community-newsletter-2018-09/"
							tabindex="-1">Hibernate Community Newsletter 09/2018</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
	<ul class="slick-dots" style="" role="tablist">
		<li class="" role="presentation"><button type="button" role="tab"
				id="slick-slide-control00" aria-controls="slick-slide00"
				aria-label="1 of 6" tabindex="-1">1</button></li>
		<li role="presentation" class=""><button type="button" role="tab"
				id="slick-slide-control01" aria-controls="slick-slide01"
				aria-label="2 of 6" tabindex="-1">2</button></li>
		<li role="presentation" class="slick-active"><button
				type="button" role="tab" id="slick-slide-control02"
				aria-controls="slick-slide02" aria-label="3 of 6" tabindex="0"
				aria-selected="true">3</button></li>
		<li role="presentation" class=""><button type="button" role="tab"
				id="slick-slide-control03" aria-controls="slick-slide03"
				aria-label="4 of 6" tabindex="-1">4</button></li>
		<li role="presentation" class=""><button type="button" role="tab"
				id="slick-slide-control04" aria-controls="slick-slide04"
				aria-label="5 of 6" tabindex="-1">5</button></li>
		<li role="presentation" class=""><button type="button" role="tab"
				id="slick-slide-control05" aria-controls="slick-slide05"
				aria-label="6 of 6" tabindex="-1">6</button></li>
	</ul>
</div>