<div class="full-width-feature text-left" style="background-color: #bee1f4;">
<!-- 	<div class="container" style="padding: 1rem;">
 	 <div id="carouselExampleFade" class="carousel slide carousel-fade" style="padding: 5px;" data-ride="carousel">
	  <div class="carousel-inner" style="height: 50px; width: 100%">
	    <ol class="carousel-indicators">
	        <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
	        <li data-target="#carouselExampleFade" data-slide-to="1"></li>
	        <li data-target="#carouselExampleFade" data-slide-to="2"></li>
	    </ol>
	    <div class="carousel-item active">
	      <h2 class="d-inline-block w-100 h-30" style="text-align: center;"  ><font color="blue"><strong>Teiid 10.3</strong></font></h2>
	    </div>
	    <div class="carousel-item">
	      <h2 class="d-inline-block w-100 h-30" style="text-align: center;"><font color="blue"><strong>Beetle Studio</strong></font></h2>
	    </div>
	    <div class="carousel-item">
	      <h2 class="d-inline-block w-100 h-30" style="text-align: center;"><font color="blue"><strong>Teiid-Komodo</strong></font></h2>
	    </div>
	  </div>
	
	 </div>
	</div> -->
	<div class="container" style="padding: 1rem;">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Teiid 4 Ways ...
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <ul class="list-group">
		        <li class="list-group-item"><a  href="teiid_four_ways/teiid_wildfly"><strong>Teiid Wildfly</strong> </a> --> Teiid integrated as a module on WildFly Java Application Server and accessing your data services via JDBC/OData/REST APIs. </li>
		        <li class="list-group-item"><a  href="teiid_four_ways/wildfly_swarm"><strong>Wildfly Swarm</strong> </a> --> Teiid integrated on WildFly Java Application Server to run Teiid as microservices in your applications. </li>
		        <li class="list-group-item"><a  href="teiid_four_ways/microservices"><strong>Microservices</strong> </a> --> Teiid implemented for the Spring Boot framework.</li>
		        <li class="list-group-item"><a  href="teiid_four_ways/embedded"><strong>Embedded</strong> </a> --> A light-weight version of Teiid for use in any Java 7+ JRE application.</li>
		    </ul>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading mt-1" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Tidbits...
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <ul class="list-group">
		        <li class="list-group-item"><a  href="teiid_four_ways/teiid_wildfly/downloads/"><strong>Latest Teiid releases...</strong></a></li>
		        <li class="list-group-item"><a  href=" http://teiid.blogspot.com/"><strong>Latest Teiid blog...</strong></a></li>
		    </ul>
		  </div>
		</div>
	  </div>
	</div>
</div>