<div class="full-width-feature text-left d-none d-md-block" style="background-color: $pf-green-100;">
	<div class="container" style="padding: 1rem;">
 	 <div id="teiid-carousel" class="carousel slide" style="padding: 1px;" data-ride="carousel">
	  <div class="carousel-inner" style="width: 100%">
	    <ol class="carousel-indicators">
	        <li data-target="#teiid-carousel" data-slide-to="0" class="active"></li>
	        <li data-target="#teiid-carousel" data-slide-to="1"></li>
	        <li data-target="#teiid-carousel" data-slide-to="2"></li>
	        <li data-target="#teiid-carousel" data-slide-to="3"></li>
	        <li data-target="#teiid-carousel" data-slide-to="4"></li>
	        <li data-target="#teiid-carousel" data-slide-to="5"></li>
	    </ol>
	    <div class="carousel-item active">
	      <div class="carousel-caption d-none d-md-block font-italic">
	      	<h4 
	      		style="text-align: center; align-content: align-middle;"  ><font><a  href="teiid_runtimes/teiid_wildfly/downloads/"><strong>Latest Teiid</strong></a></font>
	      	</h4>
		    <p><font>Get latest for recently added features and bug fixes</font></p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <div class="carousel-caption d-none d-md-block font-italic">
	        <h4 class="d-inline-block" style="padding-top: 1px; padding-bottom: 1px; text-align: center; align-content: align-middle;"><font>
	        	<img style="padding-right:6px" src="images/beetle_32x26.png" /><a  href="tools/beetle_studio/"><strong>Latest Beetle Studio</strong></a></font>
	        </h4>
		    <p><font>New Beetle Studio available supporting complex virtualizations</font></p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <div class="carousel-caption d-md-block font-italic">
	        <h4 class="d-inline-block d-none" style="text-align: center; align-content: align-middle;"><font>
	        	<a  href="teiid_runtimes/teiid_wildfly"><strong>Teiid on WildFly</strong></a></font></h4>
		    <p><font>Teiid as a module on a WildFly Server accessing your data services via JDBC, OData and REST APIs</font></p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <div class="carousel-caption d-none d-md-block font-italic">
	        <h4 class="d-inline-block" style="text-align: center; align-content: align-middle;"><font>
	        	<a  href="teiid_runtimes/thorntail"><strong>Teiid on Thorntail</strong></a></font></h4>
		    <p><font>Teiid on Thorntail and running Teiid as microservices in your applications</font></p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <div class="carousel-caption d-none d-md-block font-italic">
	        <h4 class="d-inline-block" style="text-align: center; align-content: align-middle;"><font>
	        	<a  href="teiid_runtimes/microservices"><strong>Microservices</strong></a></font></h4>
		    <p><font>Teiid implemented for the Spring Boot framework</font></p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <div class="carousel-caption d-none d-md-block font-italic">
	        <h4 class="d-inline-block" style="text-align: center; align-content: align-middle;"><font>
	        	<a  href="teiid_runtimes/embedded"><strong>Embedded</strong></a></font></h4>
		    <p><font>A light-weight version of Teiid for use in any Java 8+ JRE application</font></p>
		  </div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#teiid-carousel" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#teiid-carousel" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	 </div>
	</div>
</div>
