{{ define "title" }}{{ .Site.Title}}{{ end }}

{{ define "pagejs" }}
<script src="/js/connectingDots.js"></script> 
{{ end }}

{{ define "main" }}

<div class="jumbotron jumbotron-fluid text-center text-white mb-0" style="min-height: 10px">
   <canvas id="particles"></canvas>
	<div class="container">
	    <h1 class="display-4"> <span class="title">Introducing</span> Teiid <span class="title"> in the cloud</span></h1>
	    <p class="lead">Bring open source flexibility and security to your data.</p>
	    <a class="btn btn-get-started" href="/teiid_cloud" role="button"><strong>For Developers</strong></a>
	    <a class="btn btn-get-started" href="/tools/teiid_syndesis" role="button"><strong>Cloud Tooling</strong></a> 
	    <a class="btn btn-get-started" href="/about" role="button"><strong>Learn The Basics</strong></a>
  	</div> 
</div>

<div class="full-width-feature text-center mt-4 " >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 push-md-6 mb-2">
        <div class="row feature-images">
          <div class="col col-md-12 pull-md-1 mb-md-2">
            <i class="fa fa-check" aria-hidden="true"></i>
            <a href="http://wildfly.org/"><img style="height: 3rem" src="images/wildfly_icon_64px.png" alt="WildFly"/></a>
            &nbsp; &nbsp; &nbsp;
            <i class="fa fa-check" aria-hidden="true"></i>
            <a href="https://spring.io/projects/spring-boot"><img style="height: 3rem" src="images/icon-spring-boot.svg" alt="Spring Boot"/></a>
            <br/>
            <i class="fa fa-check" aria-hidden="true"></i>
            <a href="https://thorntail.io/"><img style="height: 3rem" src="images/thorntail_icon_rgb_64px.png" alt="Thorntail"/></a>
            &nbsp; &nbsp; &nbsp;
            <i class="fa fa-check" aria-hidden="true"></i>
            <a href="https://www.java.com"><img style="height: 3rem" src="images/java.jpeg" alt="Java"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-md-6">
        <h4>
          A Runtime For Everyone
        </h4>
        <p class="lead">
          You have flexibility in how you run Teiid - in the <a href="/teiid_runtimes/teiid_wildfly">WildFly Java EE Server</a>, 
          bootable frameworks <a href="/teiid_runtimes/springboot">Spring Boot</a> and <a href="/teiid_runtimes/thorntail">Thorntail</a>, or do whatever you need in <a href="/teiid_runtimes/embedded">Java</a>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="full-width-feature text-center mt-2 mt-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-2">
        <a href="http://openshift.org/"><img style="height: 10rem" src="images/openshift-logo.svg" alt="OpenShift"/></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>
          Flexible Deployments on OpenShift
        </h4>
        <p class="lead">
          Don’t get tied into a single technology or platform. With OpenShift and <a href="/teiid_cloud">Teiid Cloud</a>, you have choices. Access data in the cloud or on-premise using developer tools or a graphical tool.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="full-width-feature text-center mt-2 mt-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 push-md-6 mb-2">
        <a href="/tools/teiid_syndesis"><img class="screenshot" src="images/ts-wizard.png" alt="Data Virtualization Wizard"/></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-md-6">
        <h4>
          <img style="padding:1rem" src="/images/syndesis_icon_32.svg" />Visual data virtualization design tool
        </h4>
        <p class="lead">
          <a href="/tools/teiid_syndesis" role="button"><strong>Teiid Syndesis</strong></a> lets you connect to, view, combine and secure your data and with proven Teiid <a href="/about/basics" role="button"><strong>technologies</strong></a>.
        </p>
      </div>
    </div>
  </div>
</div>

{{ end }}
